.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
    width: 50%;
    
    .MuiPaper-root {
      display: flex;
      padding: 1.5%;
      flex-direction: column;
      background-color: rgb(232, 229, 229);

      .MuiTypography-root {
        margin-bottom: 1.5%;
      }
    }
  }

  .share-link {
    cursor: pointer;
  }

  ul {
    li {
      list-style: decimal;
    }
  }
}